$politico-red: #9e0000;
$red: $politico-red;
$dark-red: #6b0000;
$black: #000;
$white: #fff;
$dark-gray-text: #666;
$patina-gray: #f7f8f8;
$footer-gray: #22252c;

$earl-grey: #4a4a4a;

$budget-color: #6da9cc;

$pd-day-hover-bg: $budget-color;
