@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$datalab: 'Comfortaa', cursive;
$proxima: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$tisa: 'ff-tisa-web-pro', Georgia, Times, 'Times New Roman', serif;
$tablet: 'tablet-gothic-condensed', 'Arial Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$jubilat: 'jubilat', Georgia, Times, 'Times New Roman', serif;
$sans: 'Open Sans', sans-serif;

h1,h2,h3,h4,h5,h6{
  font-family: $proxima;
}
