body footer{
  background-color: #fff;
  background-image: $gridpaper;
  width: calc(100% - 40px);
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow-y: hidden;
  .footer-branding{
    line-height: 35px;
    font-size: 12px;
    color: grey;
    text-align: right;
    img{
      vertical-align: middle;
      height: 20px;
      margin-left: 4px;
      margin-top: -5px;
    }
  }
}
