@import '../../node_modules/pikaday/scss/pikaday.scss';
@import 'colors';

section.header{
  small{
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #999;
  }
}

.instructions{
  h3{
    color: #999;
    margin-top: 30px;
  }
  p{
    font-family: $tisa;
    line-height: 24px;
  }
}

form{
    margin: 30px auto;
    padding: 50px 45px;
    box-shadow: none;
    font-family: $proxima;

    input, textarea, select, .CodeMirror,
    .select2-selection {
      margin-bottom: 5px;
    }

    .form-group{
      margin-bottom: 30px;
    }

    h5{
      color: #aaa;
      font-size: 16px;
      margin-top: 0;
      letter-spacing: .5px;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 30px;
    }

    small{
      font-style: italic;
    }

    label{
      font-family: $proxima;
      font-weight: normal;
      font-size: 14px;
      &.extra{
        font-size: 22px;
      }
      &.required{
        font-weight: bold;
      }
      small{
        font-weight: normal;
        font-size: 12px;
        font-style: italic;
        color: #aaa;
        margin-left: 5px;
      }
    }
    .instructions{
      margin: 20px auto 30px;
      p{
        font-size: 16px;
        line-height: 21px;
      }
    }


    input[type=checkbox] { display:none; }
    input[type=checkbox] + label{
      font-size:  18px;
      cursor: pointer;
    }
    input[type=checkbox] + label:before {
      font-family: "FontAwesome";
      font-size: 20px;
    }

    input[type=checkbox] + label:before {
      content: "\f096";
      letter-spacing: 10px;
    }

    input[type=checkbox]:checked + label:before {
      content: "\f046";
      letter-spacing: 7px;
      color:red;
    }

    input[name='run_date']{
        width:100px;
    }

    .editor-toolbar{
      padding: 0 5px;
      &:before{
        margin-bottom: 0;
      }
      &:after{
        margin-top: 0;
      }
      a{
        width:30px;
        height:30px;
        font-size: 14px;
        font-family: $proxima;
      }
    }

    .description .CodeMirror{
      height:80px;
    }
    li.select2-selection__choice{
      font-size: 12px;
    }

}

.fa:before{
  font-family: 'FontAwesome';
}

@keyframes bullhorn {
    0%   {
      transform: rotate(25deg);
    }
    33%  {
      transform: rotate(-25deg);
    }
    66%  {
      transform: rotate(25deg);
    }
    100% {
      transform: rotate(25deg);
    }
}

@keyframes scroll{
    0%   {left: -225px;}
    100% {left: 120%;}
}

h1 .fa-bullhorn{
  animation-name: bullhorn;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  color: $budget-color;
  margin-left: 10px;
}
h1 div.scroll-limit{
  overflow:hidden;
  white-space:nowrap;
  width: calc(100% - 170px);
  display: inline-block;
  margin-left: -12px;
}
h1 div.scroll{
  position: relative;
  animation-name: scroll;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  color: #E64A19;
  font-weight:normal;
  font-size: 28px;
}
