$boxshadow: 0 1px 6px rgba(0,0,0,0.16), 2px 3px 6px rgba(0,0,0,0.23);

.ReactModal__Content{
  box-shadow: $boxshadow;
  position: relative;
  background-color: #fff;

  .api-status{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    opacity: 0.4;
    .sending{
      color: grey;
    }
    .success{
      color: green;
    }
    .error{
      color: red;
    }
  }

  .project-title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
  }
  small{
    color: #888;
    font-style: italic;
    margin-bottom: 25px;
    margin-top: 10px;
    display: block;
  }
  .fa-times{
    position: absolute;
    font-size: 28px;
    cursor: pointer;
    top: 15px;
    right: 15px;
    color: lightgrey;
    &:hover{
      color: grey;
    }
  }

  .editor-container{
    height: calc(100% - 50px);
    padding: 40px 80px 10px;
    overflow: auto;
  }

}
