@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'breadcrumb';
@import 'todo';
@import 'draftjs';
@import 'note';
@import 'apistatus';
@import 'project/archive-confirm';
@import 'project/todoedit';
@import 'project/projectedit';
@import 'board/topbuttons';
@import 'board/filters';

$boxshadow: 0 1px 6px rgba(0,0,0,0.16), 2px 3px 6px rgba(0,0,0,0.23);


body{
  background: #f7f8f8;
}

body article.container{
  max-width: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  height: calc(100vh - 95px);
  box-shadow:
        inset 0px 12px 8px -10px #CCC,
        inset 0px -12px 8px -10px #CCC;
  & > h2{
    margin-top:0;
  }
}

.breadcrumb{
  margin-bottom: 0;
}

.board{
  width:100%;
  height: calc(100vh - 125px);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 20px;

  .column{
    width: 300px;
    height: calc(100vh - 135px);
    white-space: normal;
    display: inline-block;
    overflow: hidden;
    padding: 5px 10px;

    &.droppable{
      background-color: #eee;
      h3{
        text-decoration: underline;
      }
    }

    .column-inner-well{
      max-height: calc(100vh - 155px);
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display:none;
      }
    }



    h3{
      font-size: 16px;
      font-family: monospace;
      font-weight: normal;
      margin: 5px 0 0;
      padding-bottom: 5px;
    }


    .project{

      @import 'project/links';

      margin: 10px 5px 20px 0;
      padding: 10px 30px 20px 20px;
      background-color: white;
      box-shadow: $boxshadow;
      position: relative;
      border-left: 1px solid #eee;

      &.transparent{
        opacity: .6;
      }
      .drag-handle{
        width: 15px;
        height: 40px;
        position: absolute;
        right: 5px;
        top: calc(50% - 20px);
        cursor: move;
        cursor: grab;
        &:hover .drag-dots{
          color: #333;
        }
        .drag-dots{
          height: 10px;
          line-height: 0px;
          color: lightgrey;
          text-align: center;
          margin-top: 0px;
        }
      }
      .title{
        small{
          font-family: $sans;
          color: grey;
          font-size: 12px;
        }
      }
      h4{
        font-style: italic;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 2px;
      }
      .description{
        p{
          font-size: 14px;
          line-height: 18px;
        }
      }

      .top-buttons{
        i.fa-pencil{
          position: absolute;
          top: 10px;
          right: 10px;
          color: lightgrey;
          cursor: pointer;
          transition: all .2s;
          &:hover{
            top: 5px;
            right: 5px;
            color: $edit;
            font-size: 24px;
          }
        }
        i.fa-sticky-note-o{
          position: absolute;
          top: 35px;
          right: 5px;
          font-size: 18px;
          color: lightgrey;
          cursor: pointer;
          transition: all .2s;
          &:hover{
            font-size: 24px;
            top: 30px;
            right: 0;
            color: $notes;
          }
        }
        i.fa-trash-o{
          position: absolute;
          top: 62px;
          right: 9px;
          font-size: 18px;
          color: lightgrey;
          cursor: pointer;
          transition: all .2s;
          &:hover{
            font-size: 24px;
            top: 57px;
            right: 7px;
            color: $archive;
          }
        }
      }

      .people{
        margin-bottom: 10px;
        .col{
          width: 33.33%;
          float:left;
          h6{
            margin-bottom: 0;
          }
          ul{
            list-style-type: none;
            list-style-position: outside;
            font-family: $sans;
            font-size: 12px;
            margin:0;
            padding:0;
            .empty{
              font-weight: bold;
              color: #999;
            }
            li{
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        &:after{
          content: "";
          display: table;
          clear: both;
        }
      }

      .tags{
        margin-bottom: 8px;
        &:after{
          content: "";
          display: table;
          clear: both;
        }
        .tag{
          font-family: $sans;
          padding: 1px 3px;
          font-size: 11px;
          display: inline-block;
          color: white;
          background-color: #aaa;
          letter-spacing: .5px;
          margin-right: 5px;
        }
      }

      .type-block{
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        font-family: $sans;
        color: white;
        padding: 1px 7px;
        text-transform: uppercase;
        font-size: 12px;
      }
      .color-border{
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        left: 0;
      }

    }

  }
}

.notes{
  background-color: white;
  background: url(../images/grid.png) repeat-x;
  background-attachment: fixed;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.15);
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.notes-content{
  position:relative;
  padding: 10px 50px 20px 30px;
  height: 100%;
  overflow-y: scroll;
  font-family: monospace;

  h4.project-title{
    margin: 0 0 10px;
    color: grey;
    font-style: italic;
  }

  input[type='checkbox']{
    margin: 0;
  }
  input[type=checkbox] { display:none; }
  input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
  }
  input[type=checkbox] + label:before {
    content: "\f096";
  }
  input[type=checkbox] + label:before {
    letter-spacing: 10px;
  }

  input[type=checkbox]:checked + label:before {
    content: "\f046";
  }
  input[type=checkbox]:checked + label:before {
    letter-spacing: 5px;
  }
  input[type=checkbox] + label{
    pointer-events: none;
  }


  i.fa-times{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 26px;
    color: lightgrey;
    transition: all .2s;
    cursor: pointer;
    &:hover{
      color: grey;
    }
  }
}

button.nav-button{
  top: 13px;
  right: 10px;
  border:none;
  border-radius: 20px;
  background: transparent;
  color: white;
  padding: 5px 10px;
  position: fixed;
  font-weight: bold;
  opacity: 0.4;
  transition: all .2s;
  &:hover{
    opacity:1;
  }
}
