@import 'mixins';
@import 'colors';
@import 'fonts';
@import 'nav';
@import 'footer';

body{
  font-family: $sans;
  margin: 0;
  padding: 0 0 30px;
  height: calc(100vh - 30px);
  position: relative;

  h1, h2, h3, h4{
    letter-spacing: 0;
    text-align: left;
    font-weight: bold;
    font-family:$sans;
    text-transform: none;
  }
}
