@import 'mixins';
@import 'colors';
@import 'fonts';
@import 'forms';

body{
  font-family: $sans;

  h1, h2, h3, h4{
    letter-spacing: 0;
    text-align: left;
    font-weight: bold;
    font-family:$sans;
    text-transform: none;
  }
}
