amqp==2.2.2
appnope==0.1.0
billiard==3.5.0.3
celery==4.1.0
certifi==2022.12.7
chardet==3.0.4
decorator==4.1.2
Django==2.0.2
-e ./..
django-filter==2.0.0.dev1
django-uuslug==1.1.8
djangorestframework==3.7.7
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
kombu==4.1.0
Markdown==2.6.9
parso==0.1.0
pexpect==4.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
PyGithub==1.35
Pygments==2.2.0
PyJWT==1.5.3
python-slugify==1.2.4
pytz==2017.3
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
slacker==0.9.60
traitlets==4.3.2
Unidecode==0.4.21
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
