{%extends 'budget/base.html'%}
{%load staticfiles%}
{%load markdown_tags%}

{%block dependency_styles%}
{%endblock%}

{%block head%}
<link rel="stylesheet" href="{%static 'budget/css/main-board-app.css'%}">
{%endblock%}

{%block foot%}
<input type="hidden" name="board" value="{{board.slug}}" />
<input type="hidden" name="token" value="{{token}}" />
<input type="hidden" name="root" value="{{root}}" />
<script type="text/javascript" src="{%static 'budget/js/main-board-app.js'%}"></script>
{%endblock%}

{%block breadcrumb%}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-item"><a href="{%url 'budget-boards'%}">Budget</a></li>
    <li class="breadcrumb-item active">{{board.name}}</li>
</ol>
{%endblock%}

{%block content%}
<div id="board"></div>
{%endblock%}
