{%extends 'base.html'%}
{%load staticfiles%}
{%load markdown_tags%}

{%block dependency_styles%}
{%endblock%}

{%block head%}
<link rel="stylesheet" href="{%static 'budget/css/main.css'%}">
<link rel="stylesheet" href="{%static 'budget/css/home.css'%}">
{%endblock%}

{%block foot%}
<script type="text/javascript" src="{%static 'budget/js/main-project-list.bundle.js'%}"></script>
{%endblock%}

{%block breadcrumb%}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'home'%}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-item active">Budget</li>
</ol>
{%endblock%}

{%block content%}
<section class="main-boards">
<h1>Interactive News Budget</h1>
<div class="boards clearfix">
{%for board in main_boards%}
<div class="board">
  <a href="{%url 'budget-boards-detail' board.slug%}">
    <i class="{{board.icon}}"></i>{{board.name}}<sup>{{board.project_count}}</sup>
  </a>
</div>
{%endfor%}
</div>
</section>

<section class="links">
{% if request.user.is_superuser %}
  <a href="{%url 'budget-projects-create'%}">
    <button>Create a project</button>
  </a>
{% else %}
  <a href="{%url 'budget-projects-pitch'%}">
    <button>Pitch a project</button>
  </a>
{% endif %}

<section class="project-boards">
  {%if project_boards%}<h3>Project Budgets</h3>{%endif%}

  <div class="boards">
  {%for board in project_boards%}
    <div class="board">
      <h4><a href="{%url 'budget-boards-detail' board.slug%}">{{board.name}}<sup>{{board.project_count}}</sup></a></h4>
      <p>{%if board.description%}{{board.description}}{%endif%}</p>
    </div>
  {%endfor%}
  </div>
</section>

</section>

{%endblock%}
