{%extends 'base.html'%}
{%load staticfiles%}

{%block dependency_styles%}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{%endblock%}

{%block head%}
<link rel="stylesheet" href="{%static 'budget/css/main.css'%}">
{%endblock%}

{%block foot%}
<script type="text/javascript" src="{%static 'budget/js/main-project-pitch.bundle.js'%}"></script>
{%endblock%}

{%block breadcrumb%}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'home'%}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'budget-boards'%}">Budget</a></li>
    <li class="breadcrumb-item active">Pitch</li>
</ol>
{%endblock%}

{%block content%}
<h1>Pitch! <i class="fa fa-bullhorn" aria-hidden="true"></i>
  <div class="scroll-limit"><div class="scroll">
    <i class="fa fa-comment-o"></i>
  </div></div>
</h1>

<div class="instructions">

<p>We want to work with you. Use this form to pitch us a project.</p>

<p>Give your idea a name and tell us just a bit about what it is. The description field is intentionally limited because we want to have a conversation with you, not exchange white papers. Give us a brief run-down now and we'll reach out to get the whole picture and take down the details together.</p>

<h3>What are we looking for?</h3>

<p>There is no formula, but the best pitches are specific. Tell us what data you have or want to collect or what story you want to tell. We want pitches for stories, data visualizations, interactive features, data-driven investigations and smart newsroom tools.</p>

<h3>What happens next?</h3>
<p>Deadlines permitting, we'll reach out within a day to talk with you about your pitch. Not sure you're ready to pitch but still have an idea worth talking about? <a href="slack://channel?team=T04CVTYJN&id=C4XT9MA12">Contact us in Slack.</a></p>
</div>

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-8">
            <div class="form-group">
                <label class="required extra" for="{{ form.name.id_for_label }}">Name <small>required</small></label>
                {{ form.name }}
                <div class="form-control-feedback errors">{{ form.name.errors }}</div>
                <small class="form-text text-muted">e.g., "Map of 2016 Iowa county returns"</small>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label for="{{ form.run_date.id_for_label }}">{{form.run_date.label}}</label>
                {{ form.run_date }}
                <div class="form-control-feedback errors">{{ form.run_date.errors }}</div>
                <small class="form-text text-muted">Your best guess</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group description">
                <label class="required" for="{{ form.description.id_for_label }}">{{form.description.label}} <small>required</small></label>
                {{ form.description }}
                <div class="form-control-feedback errors">{{ form.description.errors }}</div>
                <small class="form-text text-muted">250 characters</small>
            </div>
        </div>
    </div>
    <hr />
    <h5>People</h5>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="{{ form.reporters.id_for_label }}">{{form.reporters.label}}</label>
                {{ form.reporters }}
                <div class="form-control-feedback errors">{{ form.reporters.errors }}</div>
                <small class="form-text text-muted">Add yourself by email</small>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="{{ form.editors.id_for_label }}">{{form.editors.label}}</label>
                {{ form.editors }}
                <div class="form-control-feedback errors">{{ form.editors.errors }}</div>
                <small class="form-text text-muted">{{ form.editors.help_text }}</small>
            </div>
        </div>
    </div>
    {{ form.status }}
    <button type="submit" class="btn btn-lg" value="Submit">Submit</button>
</form>
{%endblock%}
