.todo-edit{
  padding-left: 20px;
  font-family: $sans;

  h3{
    margin-bottom: 10px;
  }

  .api-status{
    font-size: 18px;
  }

  .todo{
    i.fa-square-o{
      cursor: pointer;
      &:hover{
        color: $google;
      }
    }
    input{
      border: 0;
      margin-left: 5px;
      font-size: 16px;
      width: calc(100% - 60px);
      background-color: transparent;
      padding: 0 5px;
      text-overflow: ellipsis;
      &:active, &:focus, &:hover{
        background-color: #ddd;
        outline: none;
      }
    }
    i.fa-github-alt{
      color: lightgrey;
      margin-left: 5px;
      cursor: pointer;
      &:hover{
        color: $github;
      }
    }
  }

  button{
    margin-left: 10px;
    border-radius: 4px;
    padding: 1px 5px;
    border: 1px solid lightgrey;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    &:hover{
      background-color: lightgrey;
    }
    &:focus{
      outline: none;
    }
  }
  .fa-times{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: lightgrey;
    &:hover{
      color: grey;
    }
  }
}
