.filter-panel{
  position: fixed;
  top: 68px;
  height: calc(100vh - 141px);
  right: -50%;
  width: 350px;
  background: #fff;
  transition: right .25s ease-in-out;
  border: 1px solid lightgrey;
  padding: 20px 30px;
  overflow-y:scroll;
  &.open{
    right: 0px;
  }

  h4{
    margin-bottom: 15px;
    margin-top: 25px;
  }

  button.reset{
    border-radius: 50px;
    margin-top: 5px;
    padding: 5px 15px;
    text-align: right;
    background-color: $budget-color;
    border: none;
    color:white;
    font-size: 16px;
    cursor:pointer;
    @include box_shadow(1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
      @include box_shadow(2);
    }
    &[disabled]{
      background-color: lightgrey;
      pointer-events: none;
      opacity:0;
    }
    &:active, &:focus{
      outline: none;
      @include box_shadow(1);
    }
  }

  .fa-times{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: lightgrey;
    font-size: 28px;
    &:hover{
      color: grey;
    }
  }
  .filter-options{
    .filter-option{
      cursor: pointer;
      display: inline-block;
      padding: 2px 10px;
      width: calc(50% - 20px);
      text-overflow: ellipsis;
      white-space: nowrap;

      i{
        font-size: 20px;
        margin-right: 2px;
        color: grey;
        &.fa-check-square{
          color: $budget-color;
        }
      }
    }
  }

  .DateInput_input{
    font-family: $sans;
    font-size: 14px;
    padding: 2px 5px;
    text-align: center;
    width: calc(100% - 10px);
  }
  .CalendarMonth_caption{
    font-size: 16px;
  }
  .CalendarDay_button{
    font-size: 12px;
  }
  .DayPickerNavigation_leftButton__horizontal{
    left:5px;
  }
  .DayPickerNavigation_rightButton__horizontal{
    right:5px;
  }
  .DayPickerNavigation_button__horizontal {
      border-radius: 3px;
      padding: 2px 3px;
      top: 21px;
      position: absolute;
  }
  .DateRangePicker_picker__openDown{
    top: 88px;
  }
  .DateRangePicker_picker__openDown{
    top: 40px;
    left: -14px !important;
  }
  .DayPickerKeyboardShortcuts_show__bottomRight{
    display: none;
  }
  .DateInput__withCaret:before,
  .DateInput__openDown:after{
    display: none;
  }
  .CalendarDay__selected_span,
  .CalendarDay__hovered_span{
    background: lighten($budget-color, 15%);
    border: 1px solid lighten($budget-color, 15%);
    color: #fff;
  }
  .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover,
  .CalendarDay__selected_start,
  .CalendarDay__selected_end {
    background: $budget-color;
    border: 1px solid $budget-color;
    color: #fff;
  }
  .DateInput_input__focused{
    border-bottom: 2px solid $budget-color;
  }
  .DateRangePickerInput_clearDates{
    margin: 0 5px 0 0;
    padding: 0;
    line-height: 25px;
    svg{
      height: 11px;
    }
    &:hover{
      border-radius: 0;
      background-color: inherit;
      svg path{
        fill: $google;
      }
    }
    &:active, &:focus{
      outline: none;
    }
  }
  .filter-flag{
    position: fixed;
    top: 68px;
    right: 0px;
    background-color: $github;
    color: #fff;
    padding: 2px 5px 2px 10px;
    transition: right .2s ease-in-out;
    &.inactive{
      right: -100px;
    }
  }
}
